.nav {
    width: 100%;
    padding: 2rem 12.5% 1rem 12.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    max-height: 60px;
}
.social {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.social img {
    max-height: 22px;
}
.contact {
    background: #252533;
    border: 1px solid #474657;
    padding: 0.8rem 1.7rem;
}