.linesContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.line1, .line2, .line3, .line4, .line5 {
  position: absolute;
  top: -100%;
}
.line1 {
  left: 0;
  width: 12.5%;
  height: 100%;
  top: 0;
}
.line2 {
  left: 12.5%;
  width: 25%;
  border-left: 1px solid #474657;
  height: 100%;
}
.line3 {
  left: 37.5%;
  width: 25%;
  border-left: 1px solid #474657;
  height: 100%;
}
.line4 {
  left: 62.5%;
  width: 25%;
  border-left: 1px solid #474657;
  height: 100%;
}
.line5 {
  left: 87.5%;
  width: 12.5%;
  border-left: 1px solid #474657;
  height: 100%;
}